body{
    color: blue;
}
div#game{
    position: relative;
    top: 50px;
    left: 130px;
    background-color: #FFDDDD;
    width: 600px;
    height: 400px;
    border: 3px solid purple;
    border-left-width: 30px;
    border-right-width: 30px;
}
div#field{
    position: absolute;
    left: 0px;
    top:0px;
    width: 600px;
    height: 400px;
}
div#leftField{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 400px;
    border-right: 1px dashed purple;
}
div#rightField{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 400px;
}
div.score{
    position: absolute;
    top: 0px;
    width: 30px;
    color: yellow;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
div#leftScore{
    left: -30px;
}
div#rightScore{
    right: -30px;
}
div.players{
    position: absolute;
    top: 0px;
    width: 100px;
    height: 400px;
    background-color: #a9a9a9;
    word-wrap: break-word;
}
div#leftPlayers{
    left: -130px;
}
div#rightPlayers{
    right: -130px;
}
div#leftField div.player{
    -moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
div#rightField div.player{
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.player{
    position: absolute;
    background-color: blue;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
div#ball{
    position: absolute;
    background-color: red;
    display: none;
}
