body{
    background-color: #000000;
    color: #FFFFFF;
    min-height: 800px;
	position: relative;
}
div#flash{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    z-index: 1;
}
div#game{
    position: relative;
    top: 50px;
    left: 0;
    background-color: #000000;
    width: 400px;
    height: 400px;
    border: 1px solid #00FF00;
}
div#field{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
div.players{
    position: absolute;
    top: 0;
    height: 100%;
    right: -161px;
    width: 150px;
    color: #0000FF;
    margin-left: 10px;
    word-wrap: break-word;
}
div#key{
    position: absolute;
    bottom: 0;
    right: -261px;
    width: 250px;
    margin-left: 10px;
    opacity: 1;
}
div#key table {
    border-spacing: 10px;
    margin: -10px;
    font-size: small;
}
/*div#inventory div.itemContainer{
    position: relative;
    display: inline-block;
}
div#inventory div.item{
    position: relative;
    margin: 50px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}*/
div.playerSegment{
    position: absolute;
    background-color: #0000FF;
    opacity: .75;
}
div.item{
    position: absolute;
    border: 1px solid #FFFFFF;
}
.dropArea{
	position:absolute;
	top:900px;
	left:600px;
	width:200px;
	height:200px;
	background:#eee;
	border:#777 dashed 3px;
	text-align:center;
}

#id0, #id1, #id2, #id3, #id4, #id5{
	width:50px;
	height:50px;
	cursor: move;
	position:absolute;
	z-index:50;
	left:100px;
}
#id0{
	top:150px;	
}
#id1{
	top:200px;
}
#id2{
	top:250px;
}
#id3{
	top:300px;
}
#id4{
	top:350px;
}
#id5{
	top:400px;
}


.clearfix:after {
    content: &quot;.&quot;;
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}