body{
    background-color: #000000;
    color: #FFFFFF;
    min-height: 800px;
	position: relative;
}
div#flash{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    z-index: 1;
}
div#game{
    position: relative;
    top: 50px;
    left: 150px;
    background-color: #000000;
    width: 800px;
    height: 800px;
    border: 1px solid #00FF00;
}
div#field{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

#players{
	left: -150px;
}
div.players{
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;
    color: #0000FF;
    word-wrap: break-word;
}
div#key{
    position: absolute;
    bottom: 0;
    right: -261px;
    width: 250px;
    margin-left: 10px;
    opacity: 1;
}

div#key table {
    border-spacing: 10px;
    margin: -10px;
    font-size: small;
}

.clip {
	position: absolute;
	width: 1000px;
	height: 300px;
	top: 25px;
	overflow: hidden;
}

.view {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

div.scrollWrapper {
	position: relative;
	display: inline-block;
	height: 200px;

}

div#inventory div.itemContainer{
    position: relative;
	height: 200px;
}

div#inventory div.item{
    position: relative;
    margin: 25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
div.playerSegment{
    position: absolute;
    background-color: #0000FF;
    opacity: .75;
}
div.item{
    position: absolute;
    border: 1px solid #FFFFFF;
}

div.walls{
    position: absolute;
}

#directions{
	position: absolute;
	top: 0px;
	right: -410px;
	opacity: 1;
	margin-left: 10px;
	width: 400px;
}

#touchArea{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 200px;
	border: 2px dotted white;
}

#touchArea p{
	color: white;
	margin-left: 3%;
	margin-right: 3%;
}

.dropArea{
	position:absolute;
	top:200px;
	left:220px;
	width:80px;
	height:110px;
	background:#eee;
	border:#777 dashed 3px;
	text-align:center;
	background-image: url('images/trashcan.png');
	background-size: 80px;
	background-repeat: no-repeat;
}

#scroll {
	position: absolute;
	top: 150px;
	z-index: -1;
}

.clearfix:after {
    content: &quot;.&quot;;
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
