body{
    background-color: #000000;
    color: #FFFFFF;
}
div#flash{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    z-index: 1;
}
div#game{
    position: relative;
    top: 50px;
    left: 150px;
    width: 800px;
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
}
div#table{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #559944;
    border: 1px solid #444444;
}
div.player{
    position: absolute;
    padding: 10px;
    vertical-align: bottom;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #FFEEFF;
}
div.card{
    height: 60px;
    width: 33px;
    padding: 10px;
    color: black;
    text-align: center;
    background-image: url('images/cardback.jpg');
    background-size: 100%;
    border: 1px solid #DDDDDD;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.card#up{
    background: #FFFFFF none;
}
div.cards{
    position: absolute;
    top: -100px;
}
div.cards div.card{
    margin: 10px;
    position: absolute;
}
div#hand{
    font-size: large;
    font-weight: bold;
}
div#hand div.card{
    display: inline-block;
    margin: 3px;
}
div.input{
    position: static;
    display: none;
    margin-bottom: 20px;
}
span#total {
    font-weight: bold;
}