<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var sockets = <%= sockets %>;
            var margin = 10;
            var radius = 10;
            var interval = 10;
            
            if(sockets){
                var socket = io.connect('http://' + window.location.host);
                socket.on('location', updatePosition);
            }else{
                window.setInterval(requestUpdate, 500);
            }
            
            function updatePosition(data_response){
                if(sockets){
                    var x = data_response.x;
                    var y = data_response.y;
                }else{
                    var x = $(data_response).find('x').contents().text();
                    var y = $(data_response).find('y').contents().text();
                }
                $('#dot').animate({top: y, left: x}, "fast");
            }

            function requestUpdate(){
                $.ajax({
                    url: 'location',
                    type: 'GET',
                    success: updatePosition,
                    datatype: 'xml'
                });
            }

            $(document).keypress(function(event) {
                var deltaX = 0, deltaY = 0;
                switch(parseInt(event.keyCode)){
                    case 37:
                        deltaX = -1;
                        break;
                    case 38:
                        deltaY = -1;
                        break;
                    case 39:
                        deltaX = 1;
                        break;
                    case 40:
                        deltaY = 1;
                        break;
                    default:
                        return;
                }
                if(sockets){
                    socket.emit('nudge', {x: interval*deltaX, y: interval*deltaY});
                }else{
                    $.ajax({
                        url: 'nudge',
                        type: 'POST',
                        data: {x: deltaX, y: deltaY},
                        success: updatePosition,
                        datatype: 'xml'
                    });
                }
            });
            
            $(document).click(function(event) {
                var eventX = event.clientX - radius;
                var eventY = event.clientY - radius;
                
                if(sockets){
                    socket.emit('move', {x: eventX, y: eventY});
                }else{
                    var currentX = $('#dot').position().left;
                    var currentY = $('#dot').position().top;
                    var deltaX = 0, deltaY = 0;
                    if(eventX > currentX + margin){
                        deltaX = 1;
                    }else if(eventX < currentX - margin){
                        deltaX = -1;
                    }
                    if(eventY > currentY + margin){
                        deltaY = 1;
                    }else if(eventY < currentY - margin){
                        deltaY = -1;
                    }
                    $.ajax({
                        url: 'move',
                        type: 'POST',
                        data: {x: eventX, y: eventY},
                        success: updatePosition,
                        datatype: 'xml'
                    });
                }
            });
        </script>
    </head>
    <body>
        <div id="dot" style="position: absolute; top: <%= parseInt(y) %>; left: <%= parseInt(x) %>;height: 20px; width: 20px; -moz-border-radius: 10px; border-radius: 10px; background-color: blue;"></div>
    </body>
</html>
